
*.cmake

*.o

cmake-build-debug/CMakeFiles/3\.10\.3/CMakeDetermineCompilerABI_C\.bin

cmake-build-debug/CMakeFiles/3\.10\.3/CompilerIdCXX/

cmake-build-debug/CMakeFiles/

cmake-build-debug/CMakeCache\.txt

cmake-build-debug/

\.idea/

CMakeLists\.txt
